---
import './Projects.css';
import { Image } from 'astro:assets';
import ReactJS from '../icons/ReactJS.astro';
import NextJS from '../icons/NextJS.astro';
import Expo from '../icons/Expo.astro';
import Tailwind from '../icons/Tailwind.astro';
import StyledComponents from '../icons/Styledcomponents.astro';
import Express from '../icons/Express.astro';
import NestJS from '../icons/NestJS.astro';
import PostgreSQL from '../icons/PostgreSQL.astro';
import Github from '../icons/Github.astro';
import Url from '../icons/Url.astro';
import LaRifa from '../../assets/larifa.webp';
import SportPro from '../../assets/sportpro.webp';
import Weather from '../../assets/weather.webp';
import CardForm from '../../assets/card_form.webp';

const PROJECT_IMAGES = {
	LARIFA: LaRifa,
	SPORTPRO: SportPro,
	WEATHER: Weather,
	CARDFORM: CardForm,
}

const TAGS = {
	REACT: {
		name: "React",
		class: "bg-react text-white",
		icon: ReactJS
	},
	EXPRESS: {
		name: "Express",
		class: "bg-express text-white",
		icon: Express
	},
	NEXTJS: {
		name: "Next.js",
		class: "bg-nextjs text-white",
		icon: NextJS
	},
	EXPO: {
		name: "Expo",
		class: "bg-white text-black",
		icon: Expo
	},
	TAILWIND: {
		name: "Tailwind",
		class: "bg-tailwind text-white",
		icon: Tailwind
	},
	STYLEDCOMPONENTS: {
		name: "Styled Components",
		class: "bg-styledcomponents text-white",
		icon: StyledComponents
	},
	NESTJS: {
		name: "NestJS",
		class: "bg-nestjs text-white",
		icon: NestJS
	},
	POSTGRESQL: {
		name: "Postgres",
		class: "bg-postgresql text-white",
		icon: PostgreSQL
	}
}

interface Project {
	title: string;
	image: keyof typeof PROJECT_IMAGES;
	description: string;
	tags: Array<keyof typeof TAGS>;
	link?: string;
	github?: string;
}

const { projects } = Astro.props as { projects: Project[]};
---

<div class="projects">
	{projects.map((project) => (
		<div class="project-wrapper">
			<article class="project">
				<div class="image-container">
					<div class="portrait-holder">
						<Image class="portrait" src={PROJECT_IMAGES[project.image]} alt={project.title} loading="lazy" />
					</div>
				</div>
				<div class="project-info">
					<h4 class="project-info__title">{project.title}</h4>
					<p class="project-info__description">{project.description}</p>
				</div>
				<ul class="projects__tags">
					{project.tags.map((tagKey) => {
						const tag = TAGS[tagKey];
						return (
							<li>
								<span class={`tag ${tag.class}`}>
									<tag.icon class="logo-icon" />
									{tag.name}
								</span>
							</li>
						)
					})}
				</ul>
			</article>
			{(project.link || project.github) ? (
				<footer class="project-footer">
					{project.github && (
						<a href={project.github} target="_blank" class="general-pill project-pill"><Github /> Código</a>
					)}
					{project.link && (
						<a href={project.link} target="_blank" class="general-pill project-pill"><Url /> Web</a>
					)}
				</footer>
			) : null}
		</div>
	))}
</div>